<div class="nav">
  <div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <a href="/posts"><h1><%= user.name %>'s Blog</h1></a>
      <p><%= user.bio %></p>
    </div>
  </div>
</div>
