  <script type="text/javascript">
    // 点击按钮弹出下拉框
    $('.ui.dropdown').dropdown();
    // 鼠标悬浮在头像上，弹出气泡提示框
    $('.post-content .avatar').popup({
      inline: true,
      position: 'bottom right',
      lastResort: 'bottom right',
    });
  </script>
  <div class="ui center aligned container foot1">
      <p>
          <a href="https://github.com/dscdtc/koa1-blog">Private Blog</a>
          is created and maintained by
          <a href="https://github.com/dscdtc">dscdtc</a>
      </p>
  </div>
  <div class = "footer">
      <div class="ui right aligned container">
          <p>&nbsp;&nbsp;&nbsp;&nbsp;Copyright ©2017 <a href="https://github.com/dscdtc">dscdtc</a>.All Rights Reserved</p>
      </div>
  </div>
  </div>
  </body>
</html>
